
script(type='text/javascript', src='/lib/jquery/jquery-2.2.3.min.js')
script(type='text/javascript', src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
script(type='text/javascript', src='/lib/bootstrap-js/bootstrap.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
script(type='text/javascript', src='/lib/morris/morris.min.js')
script(type='text/javascript', src='/lib/chartjs/Chart.min.js')
script(type='text/javascript', src='/lib/sparkline/jquery.sparkline.min.js')
script(type='text/javascript', src='/lib/jvectormap/jquery-jvectormap-1.2.2.min.js')
script(type='text/javascript', src='/lib/jvectormap/jquery-jvectormap-world-mill-en.js')
script(type='text/javascript', src='/lib/knob/jquery.knob.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js')
script(type='text/javascript', src='/lib/daterangepicker/daterangepicker.js')
script(type='text/javascript', src='/lib/datepicker/bootstrap-datepicker.js')
script(type='text/javascript', src='/lib/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')

script(type='text/javascript', src='/lib/slimScroll/jquery.slimscroll.min.js')
script(type='text/javascript', src='/lib/fastclick/fastclick.js')
script(type='text/javascript', src='/lib/app.min.js')

script(type='text/javascript', src='/lib/iCheck/icheck.min.js')

// AdminLTE dashboard demo (This is only for demo purposes)
//script(src='dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
//script(src='dist/js/demo.js')



//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/authenticate.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/login.js')
script(type='text/javascript', src='/js/controllers/admins/auth.js')
script(type='text/javascript', src='/js/controllers/admins/signIn.js')
script(type='text/javascript', src='/js/controllers/admins/signUp.js')
script(type='text/javascript', src='/js/init.js')

//AdminLTE
script.
    $.widget.bridge('uibutton', $.ui.button);
if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://localhost:35729/livereload.js')
