head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Let's Shave - Engine
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/AdminLTE.min.css', type='text/css')
    link(rel='stylesheet', href='/css/skins/_all-skins.min.css')
    link(rel='stylesheet', href='/css/skins/skin-blue.css')
    link(rel='stylesheet', href='/css/mystyles/style.css')
    link(rel='stylesheet', href='/lib/iCheck/flat/blue.css')
    link(rel='stylesheet', href='/lib/morris/morris.css')
    link(rel='stylesheet', href='/lib/jvectormap/jquery-jvectormap-1.2.2.css')
    link(rel='stylesheet', href='/lib/datepicker/datepicker3.css')
    link(rel='stylesheet', href='/lib/daterangepicker/daterangepicker.css')
    link(rel='stylesheet', href='/lib/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')
    link(rel='stylesheet', href='/lib/iCheck/square/blue.css')

    // Font Awesome
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
