doctype html
html
  base(href='/')
  include ../includes/head
  body.hold-transition.skin-purple.sidebar-mini
    section.section-full-height
      section
        block content
    include ../includes/foot
